<div id="<%= dom_id content %>">
  <p>
    <strong>Genre:</strong>
    <%= content.genre.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= content.category.name %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= content.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= content.author %>
  </p>

</div>
