<div id="<%= dom_id post %>">
  <p>
    <strong>投稿日：</strong>
    <%= post.created_at.strftime('%Y年 %m月 %d日') %>
  </p>

  <p>
    <strong>カテゴリ：</strong>
    <%= post.category.name %>
  </p>

  <p>
    <strong>コンテンツ：</strong>
    <%= post.content.title %>
  </p>

  <p>
    <strong>サブタイトル：</strong>
    <%= post.subtitle %>
  </p>

  <p>
    <strong>日記：</strong>
    <%= post.diary %>
  </p>

</div>
