<div class="top_page">
  <%= render 'home/side_bar' %>
  <div class="main_content">
    <p style="color: green"><%= notice %></p>
    <div class="content_title">
      <h3>- <%= @post.subtitle %> -</h3>
    </div>
    <div class="back">
      <%= link_to "一覧に戻る", posts_path %>
    </div>
    <div class="content_box">
      <%= render @post %>
    </div>
  </div>
</div>
